<link rel="stylesheet" href="/style/AddFormStyle.css">
<div class="Div-Container">
    <form action="" class="Form-Container">
        <input type="text" name="" id="InpName" placeholder="Введите ваше имя">
        <input type="text" name="" id="InpPhone" placeholder="Введите ваш телефон">
    </form>
    <div class="Button-Container">
        <button onclick="AddItem()">Добавить</button>
        {{BackButton}}
    </div>
</div>
<script src="/scripts/AddScript.js"></script>
